{% import "chwtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if is_edit %}
        编辑内容
    {% else %}
        新建 ToDo
    {% endif %}
{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="container">
        {% for msg in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" onclick="closeMsg()">&times;</button>
                {{ msg }}
            </div>
        {% endfor %}
    </div>
    <div class="page-header">
        {% if is_edit %}
            <h1 style="margin-left: 15px;">编辑内容</h1>
        {% else %}
            <h1 style="margin-left: 15px;">新增 ToDo </h1>
        {% endif %}
    </div>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
{% endblock %}
