<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/styles.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/bootstrap.css") }}">
{#    <script type="text/javascript">#}
{#        {% for error in form.password.errors %}#}
{#            alert("{{ error }}");#}
{#        {% endfor %}#}
{##}
{#        {% for error in form.username.errors %}#}
{#            alert("{{ error }}");#}
{#        {% endfor %}#}
{#    </script>#}
</head>
<body>
<div class="page-header">
    <h1 align="center" style="font-weight:bold; font-style:italic; font-size: 55px;">添加用户</h1>
</div>
<div class="col-md-4">
    <form method="post" action="{{ url_for('main.add_user') }}">
    {{ form.hidden_tag() }}
    用户名<br>
    {{ form.username }}{{ form.username.errors[0] }}<br>
    密码<br>
    {{ form.password }}{{ form.password.errors[0] }}<br>
    确认密码<br>
    {{ form.password2 }}<br>
    {{ form.submit }}
    </form>
</div>
</body>
</html>