{% import "chwtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}登录{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="container">
        {% for msg in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" onclick="closeMsg()">&times;</button>
                {{ msg }}
            </div>
        {% endfor %}
    </div>
    <div class="page-header">
        <h1 style="margin-left: 15px;">用户登录</h1>
    </div>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
{% endblock %}
